<div class="wrapper">
  <div class="sub-wrapper">
    <img class="sub-wrapper__img" src="../../assets/img/back-mobile-info.png" alt="mobile-phone">
    <div class="sub-wrapper__info">
      <h3 class="sub-wrapper__headline">Excellent for Mobile Devices.</h3>
      <p class="sub-wrapper__text">Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Investigationes demonstraverunt lectores legere me lius quod ii
        legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur
        parum clari, fiant sollemnes in futurum.</p>
      <ul class="sub-wrapper__points">
        <li class="sub-wrapper__point">
          <img class="sub-wrapper__marker" src="../../assets/img/marker-mobile-info.png" alt="">
          Nam liber tempor cum soluta nobis eleifend option;</li>
        <li class="sub-wrapper__point">
          <img class="sub-wrapper__marker" src="../../assets/img/marker-mobile-info.png" alt="">

          Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
        <li class="sub-wrapper__point">
          <img class="sub-wrapper__marker" src="../../assets/img/marker-mobile-info.png" alt="">
          Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
        <li class="sub-wrapper__point">
          <img class="sub-wrapper__marker" src="../../assets/img/marker-mobile-info.png" alt="">
          Investigationes demonstraverunt lectores</li>
      </ul>
    </div>
  </div>
</div>
