<div class="wrapper">
  <div class="sub-wrapper">
    <header class="header">
      <div class="header__logo">
        <img src="../../assets/img/logo.png" alt="logo">
        <span class="header__logo-text">Waxom</span>
      </div>
      <div class="header__menu">
        <div class="header__links-box">
          <a class="header__link" href="javascript:;">Home</a>
          <a class="header__link" href="javascript:;">About Us</a>
          <a class="header__link" href="javascript:;">Portfolio</a>
          <a class="header__link" href="javascript:;">Features</a>
          <!--<a class="header__link" href="javascript:;">Blog</a>-->
          <!--<a class="header__link" href="javascript:;">Pricing</a>-->
          <!--<a class="header__link" href="javascript:;">Shortcodes</a>-->
          <a class="header__link" href="javascript:;">Contact</a>
        </div>
        <a href="javascript:;" class="header__cart">
          <img src="../../assets/img/cart.png" alt="cart">
        </a>
        <button type="button" class="header__search" (click)="myFunction()">
          <img src="../../assets/img/search.png" alt="search">
          <input type="text" id="header__search-block" placeholder="Search">
        </button>
      </div>
    </header>

    <swiper id="swiper" [config]="config">
      <div class="swiper-slide">
        <main class="main">
          <h1 class="main__headline">Unique and Modern Design</h1>
          <h2 class="main__title">Portfolio PSD Template</h2>
          <p class="main__text">Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim placerat facer possim assum.</p>
          <button class="main__start" type="button">Get started</button>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <h1 class="main__headline">Unique and Modern Design</h1>
          <h2 class="main__title">Portfolio PSD Template</h2>
          <p class="main__text">Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim placerat facer possim assum.</p>
          <button class="main__start" type="button">Get started</button>
        </main>
      </div>
      <div class="swiper-slide">
        <main class="main">
          <h1 class="main__headline">Unique and Modern Design</h1>
          <h2 class="main__title">Portfolio PSD Template</h2>
          <p class="main__text">Nam liber tempor cum soluta nobis eleifend option congue nihil
            imperdiet doming id quod mazim placerat facer possim assum.</p>
          <button class="main__start" type="button">Get started</button>
        </main>
      </div>
    </swiper>
  </div>
</div>
