<div class="wrapper">
  <div class="sub-wrapper">
    <div class="sub-wrapper__logo-text">
      <div class="sub-wrapper__logotype">
        <img class="sub-wrapper__img-logo" src="../../assets/img/logo.png" alt="logo">
        <span class="sub-wrapper__logo-txt">Waxom</span>
      </div>
      <p class="sub-wrapper__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis
        claritatem.</p>
      <a class="sub-wrapper__read-more" href="javascript:;">
        Read More
        <i class="sub-wrapper__triangle"></i>
      </a>
    </div>
    <div class="sub-wrapper__logo-text">
      <h6 class="sub-wrapper__headline">Recent Posts</h6>
      <div class="sub-wrapper__post-box">
        <span class="sub-wrapper__post-data">September 08, 2015</span>
        <span class="sub-wrapper__post-txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
      </div>
      <div class="sub-wrapper__post-box">
        <span class="sub-wrapper__post-data">September 08, 2015</span>
        <span class="sub-wrapper__post-txt">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna</span>
      </div>
      <div class="sub-wrapper__post-box sub-wrapper__post-box--border">
        <span class="sub-wrapper__post-data">September 08, 2015</span>
        <span class="sub-wrapper__post-txt">Claritas est etiam processus dynamicus, qui sequitur mutationem
          per seacula quarta decima</span>
      </div>
    </div>
    <div class="sub-wrapper__logo-text">
      <h6 class="sub-wrapper__headline">Our Twitter</h6>
      <div class="sub-wrapper__post-box">
        <span class="sub-wrapper__post-txt sub-wrapper__post-txt--twitter">
          <span class="sub-wrapper__post-txt--blue">@waxom</span>
          Cum soluta nobis eleifend option congue nihil imperdiet doming</span>
        <span class="sub-wrapper__post-data sub-wrapper__post-data--twitter">3 mins ago</span>
      </div>
      <div class="sub-wrapper__post-box">
        <span class="sub-wrapper__post-txt sub-wrapper__post-txt--twitter">Mirum est
          <span class="sub-wrapper__post-txt--blue">#envato</span> notare quam littera gothica, quam nunc putamus
          parum anteposuerit litterarum</span>
        <span class="sub-wrapper__post-data sub-wrapper__post-data--twitter">5 hours ago</span>
      </div>
      <div class="sub-wrapper__post-box sub-wrapper__post-box--border">
        <span class="sub-wrapper__post-txt sub-wrapper__post-txt--twitter">Soluta nobis option
          <span class="sub-wrapper__post-txt--grey">bit.ly/1Hniso7</span>
        </span>
        <span class="sub-wrapper__post-data sub-wrapper__post-data--twitter">20 days ago</span>
      </div>
    </div>
    <div class="sub-wrapper__logo-text">
      <h6 class="sub-wrapper__headline">Dribbble Widget</h6>
      <div class="sub-wrapper__images">
        <img class="sub-wrapper__img-dribbble" src="../../assets/img/1-photo-dribbble.jpg" alt="photo 1">
        <img class="sub-wrapper__img-dribbble" src="../../assets/img/2-photo-dribbble.jpg" alt="photo 2">
        <img class="sub-wrapper__img-dribbble" src="../../assets/img/3-photo-dribbble.jpg" alt="photo 3">
        <img class="sub-wrapper__img-dribbble" src="../../assets/img/4-photo-dribbble.jpg" alt="photo 4">
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer__box">
    <div class="footer__support">
      <span class="footer__copyright">Copyright © 2015
        <span class="footer__copyright--light">Waxom</span>
      </span>
      <a href="javascript:;" class="footer__copyright footer__link">Privacy Policy</a>
      <a href="javascript:;" class="footer__copyright footer__link">FAQ</a>
      <a href="javascript:;" class="footer__copyright footer__link footer__link--last">Support</a>
    </div>
    <div class="footer__design">
      <span class="footer__copyright">Designed by
        <span class="footer__copyright--light">ThemeFire</span>
      </span>
      <span class="footer__copyright footer__link--last">Only on
        <span class="footer__copyright--light">Envato Market</span>
      </span>
    </div>
  </div>
</footer>
