<div class="wrapper">
  <div class="sub-wrapper">
    <div class="sub-wrapper__text-box">
      <div class="sub-wrapper__headline-box">
        <h3 class="sub-wrapper__headline">Waxom </h3>
        <h3 class="sub-wrapper__headline sub-wrapper__headline--white">Multipurpose WordPress Theme</h3>
      </div>
      <span class="sub-wrapper__text">Don't Forget to Rate the Template. Thanks so much!</span>
    </div>
    <button type="button" class="sub-wrapper__button">Purchase Now</button>
  </div>
</div>
