<div class="wrapper">
  <div class="sub-wrapper">
    <h3 class="sub-wrapper__headline">Our Latest Projects.</h3>
    <span class="sub-wrapper__text">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas
      est etiam processus dynamicus, qui sequitur mutationem consuetudium.</span>
    <main class="main">
      <img class="main__browser1" src="../../assets/img/browser-left-real.jpg" alt="browser window">
      <img class="main__browser2" src="../../assets/img/browser-right-real.jpg" alt="browser window">
      <img class="main__browser3" src="../../assets/img/browser-center-real.jpg" alt="browser window">
    </main>
  </div>
</div>
