<div class="wrapper">
  <h3 class="wrapper__headline">Our Latest Projects.</h3>
  <span class="wrapper__text">Investigationes demonstraverunt lectores legere me lius quod
    ii legunt saepius. Claritas est etiam processus
    dynamicus, qui sequitur mutationem consuetudium.</span>
  <main class="main">
    <tabs id="tab">
      <tab tabTitle="All" active="true">
        <figure *ngFor="let image of visibleImgArray" class="main__box-photo" animateOnScroll animationName="main__box-photo--animated">
          <figcaption class="main__photo">
            <h5 class="main__headline" >{{image.headline}}</h5>
            <span class="main__photo-text">{{image.text}}</span>
            <div class="main__triangle"></div>
          </figcaption>
          <img class="main__img2" [src]="image.src" [alt]="image.alt">
          <div class="main__hover">
            <a href="javascript:;">
              <img class="main__photo-link" src="./assets/img/link-portf-hover.png" alt="link"></a>
            <img class="main__photo-lupa" src="./assets/img/lupa-portf-hover.png" alt="lupa">
          </div>
        </figure>
        <div class="main__box-button">
          <button [disabled]="visibleImgArray.length === imageArray.length" class="main__load-more" type="button" (click)="loadMore('visibleImgArray')">Load More</button>
        </div>
      </tab>
      <tab tabTitle="Web Design">
        <figure *ngFor="let image of visibleImgArrayDesign" class="main__box-photo" animateOnScroll animationName="main__box-photo--animated">
          <figcaption class="main__photo">
            <h5 class="main__headline" >{{image.headline}}</h5>
            <span class="main__photo-text">{{image.text}}</span>
            <div class="main__triangle"></div>
          </figcaption>
          <img class="main__img2" [src]="image.src" [alt]="image.alt">
          <div class="main__hover">
            <a href="javascript:;">
              <img class="main__photo-link" src="./assets/img/link-portf-hover.png" alt="link"></a>
            <img class="main__photo-lupa" src="./assets/img/lupa-portf-hover.png" alt="lupa">
          </div>
        </figure>
        <div class="main__box-button">
          <button [disabled]="visibleImgArrayDesign.length === imageArrayDesign.length" class="main__load-more" type="button" (click)="loadMore('visibleImgArrayDesign')">Load More</button>
        </div>
      </tab>
      <tab tabTitle="Mobile App">
        <figure *ngFor="let image of visibleImgArrayApp" class="main__box-photo" animateOnScroll animationName="main__box-photo--animated">
          <figcaption class="main__photo">
            <h5 class="main__headline" >{{image.headline}}</h5>
            <span class="main__photo-text">{{image.text}}</span>
            <div class="main__triangle"></div>
          </figcaption>
          <img class="main__img2" [src]="image.src" [alt]="image.alt">
          <div class="main__hover">
            <a href="javascript:;">
              <img class="main__photo-link" src="./assets/img/link-portf-hover.png" alt="link"></a>
            <img class="main__photo-lupa" src="./assets/img/lupa-portf-hover.png" alt="lupa">
          </div>
        </figure>
        <div class="main__box-button">
          <button [disabled]="visibleImgArrayApp.length === imageArray.length" class="main__load-more" type="button" (click)="loadMore('visibleImgArrayApp')">Load More</button>
        </div>
      </tab>
      <tab tabTitle="Illustration">
        <figure *ngFor="let image of visibleImgArrayIllustration" class="main__box-photo" animateOnScroll animationName="main__box-photo--animated">
          <figcaption class="main__photo">
            <h5 class="main__headline" >{{image.headline}}</h5>
            <span class="main__photo-text">{{image.text}}</span>
            <div class="main__triangle"></div>
          </figcaption>
          <img class="main__img2" [src]="image.src" [alt]="image.alt">
          <div class="main__hover">
            <a href="javascript:;">
              <img class="main__photo-link" src="./assets/img/link-portf-hover.png" alt="link"></a>
            <img class="main__photo-lupa" src="./assets/img/lupa-portf-hover.png" alt="lupa">
          </div>
        </figure>
        <div class="main__box-button">
          <button [disabled]="visibleImgArrayIllustration.length === imageArray.length" class="main__load-more" type="button" (click)="loadMore('visibleImgArrayIllustration')">Load More</button>
        </div>
      </tab>
      <tab tabTitle="Photography">
        <figure *ngFor="let image of visibleImgArrayPhotography" class="main__box-photo" animateOnScroll animationName="main__box-photo--animated">
          <figcaption class="main__photo">
            <h5 class="main__headline" >{{image.headline}}</h5>
            <span class="main__photo-text">{{image.text}}</span>
            <div class="main__triangle"></div>
          </figcaption>
          <img class="main__img2" [src]="image.src" [alt]="image.alt">
          <div class="main__hover">
            <a href="javascript:;">
              <img class="main__photo-link" src="./assets/img/link-portf-hover.png" alt="link"></a>
            <img class="main__photo-lupa" src="./assets/img/lupa-portf-hover.png" alt="lupa">
          </div>
        </figure>
        <div class="main__box-button">
          <button [disabled]="visibleImgArrayPhotography.length === imageArray.length" class="main__load-more" type="button" (click)="loadMore('visibleImgArrayPhotography')">Load More</button>
        </div>
      </tab>
      </tabs>
    <!--<div class="main__portfolio">-->
      <!--&lt;!&ndash;<div class="main__box-button">&ndash;&gt;-->
        <!--&lt;!&ndash;<button [disabled]="visibleImgArray.length === imageArray.length" class="main__load-more" type="button" (click)="loadMore()">Load More</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  </main>
</div>
