<div class="wrapper">
  <div class="sub-wrapper">
    <div class="clients-box">
      <img class="clients-box__img" src="../../assets/img/clients-achiv.png" alt="clients-icon">
      <span class="clients-box__number">3587</span>
      <span class="clients-box__title">Satisfied Clients</span>
      <div class="clients-box__line"></div>
    </div>
    <div class="clients-box">
      <img class="clients-box__img" src="../../assets/img/cups-achiv.png" alt="cups-icon">
      <span class="clients-box__number">3587</span>
      <span class="clients-box__title">Satisfied Clients</span>
      <div class="clients-box__line"></div>
    </div>
    <div class="clients-box">
      <img class="clients-box__img" src="../../assets/img/message-achiev.png" alt="message-icon">
      <span class="clients-box__number">3587</span>
      <span class="clients-box__title">Satisfied Clients</span>
      <div class="clients-box__line"></div>
    </div>
    <div class="clients-box">
      <img class="clients-box__img" src="../../assets/img/like-achiev.png" alt="like-icon">
      <span class="clients-box__number">3587</span>
      <span class="clients-box__title">Satisfied Clients</span>
      <div class="clients-box__line"></div>
    </div>
    <div class="clients-box">
      <img class="clients-box__img" src="../../assets/img/launches-achiev.png" alt="dish-icon">
      <span class="clients-box__number">3587</span>
      <span class="clients-box__title">Satisfied Clients</span>
      <div class="clients-box__line"></div>
    </div>
  </div>
</div>
