<div class="wrapper">
  <h3 class="wrapper__headline">Recent Posts</h3>
  <p class="wrapper__text">Investigationes demonstraverunt lectores legere me lius quod
    ii legunt saepius. Claritas est etiam processus dynamicus,
    qui sequitur mutationem consuetudium.</p>
  <main class="main">
    <div class="main__photo-box">
      <div class="main__img-box"></div>
      <img class="main__img" src="../../assets/img/1-photo-post.jpg" alt="First photo">
      <div class="main__title-box">
        <h4 class="main__title">Lorem ipsum dolor sit amet</h4>
        <span class="main__description">Claritas est etiam processus dynamicus,
        qui sequitur.</span>
        <a class="main__read-more" href="javascript:;">
          Read More
          <i class="main__triangle"></i>
        </a>
      </div>
      <div class="main__data">
        <span class="main__number">30</span>
        <span class="main__month">Sep.</span>
      </div>
    </div>
    <div class="main__photo-box">
      <div class="main__img-box"></div>
      <img class="main__img" src="../../assets/img/2-photo-post.jpg" alt="Second photo">
      <div class="main__title-box">
        <h4 class="main__title">Lorem ipsum dolor sit amet</h4>
        <span class="main__description">Claritas est etiam processus dynamicus,
        qui sequitur.</span>
        <a class="main__read-more" href="javascript:;">
          Read More
          <i class="main__triangle"></i>
        </a>
      </div>
      <div class="main__data">
        <span class="main__number">30</span>
        <span class="main__month">Sep.</span>
      </div>
    </div>
    <div class="main__photo-box">
      <div class="main__img-box"></div>
      <img class="main__img" src="../../assets/img/3-photo-post.jpg" alt="Third photo">
      <div class="main__title-box">
        <h4 class="main__title">Lorem ipsum dolor sit amet</h4>
        <span class="main__description">Claritas est etiam processus dynamicus,
        qui sequitur.</span>
        <a class="main__read-more" href="javascript:;">
          Read More
          <i class="main__triangle"></i>
        </a>
      </div>
      <div class="main__data">
        <span class="main__number">30</span>
        <span class="main__month">Sep.</span>
      </div>
    </div>
  </main>
</div>
